/* Author: Daniel Benjamin Perez Morales */
/* GitHub: https://github.com/DanielPerezMoralesDev13 */
/* Email: danielperezdev@proton.me */

/* Efecto común: colapso de márgenes (margin collapse) */

/* 
    El colapso de márgenes ocurre cuando los márgenes verticales de elementos adyacentes se superponen.
    En este caso, el margen más grande prevalece, lo que significa que los márgenes no se suman,
    sino que el margen superior o inferior más grande se muestra como el único margen. 
   
   Por ejemplo, si un elemento tiene un margen superior de 30px y otro elemento adyacente tiene un margen
   inferior de 20px, el margen total entre ellos será de 30px, no de 50px. */

/* 
   Pregunta: ¿Aplica también para márgenes horizontales (derecha e izquierda)? 
    La respuesta es no. Los márgenes horizontales no colapsan entre elementos adyacentes. 
   
   Si no existiera el colapso de márgenes, cada margen se sumaría, 
   y se vería un espacio total igual a la suma de los márgenes de ambos elementos. 
*/

.box {
    background-color: red;
    /* Color de fondo de la caja */
    height: 150px;
    /* Altura de la caja */
    width: 150px;
    /* Ancho de la caja */
    margin: 30px;
    /* Margen alrededor de la caja (30px en todos los lados) */
}